@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Reset default Icon styling for DivIcon */
.leaflet-div-icon {
  background: transparent !important;
  border: none !important;
}

/* Ensure map takes available space if needed */
.leaflet-container {
  width: 100%;
  height: 100%;
}
